<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DotsContext" connectionString="data source=91.215.216.94\MSSQLSERVER2012,2012; User ID=myparad_bob1234; Password=dev123!@#;Initial catalog=myparad_DotsAndBoxes" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>